
<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content='pavilan'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact - PRG522Summative</title>
    <!-- Favicon -->
    <link rel="icon" type="image/favicon.png" href="/img/favicon.png">

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bizwheel Plugins CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.min.css">

    <!-- Bizwheel Stylesheet -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body id="bg">
    <!-- Boxed Layout -->
    <!-- Breadcrumb -->
    <div class="breadcrumbs overlay" style="background-image:url('https://via.placeholder.com/1600x500')">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <!-- Bread Menu -->
                        <div class="bread-menu">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Bread Title -->
                        <div class="bread-title"><h2>Our Address</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Breadcrumb -->
    <!-- Contact Us -->
    <section class="contact-us section-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-12">
                    <!-- Contact Form -->
                    <div class="contact-form-area m-top-30">
                        <h4>Get In Touch</h4>
                        <form class="form" method="post" action="mail/mail.php">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-user"></i></div>
                                        <input type="text" name="first_name" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-user"></i></div>
                                        <input type="text" name="last_name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-envelope"></i></div>
                                        <input type="email" name="email" placeholder="Type Subjects">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-tag"></i></div>
                                        <input type="text" name="subject" placeholder="Type Subjects">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group textarea">
                                        <div class="icon"><i class="fa fa-pencil"></i></div>
                                        <textarea type="textarea" name="message" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" class="bizwheel-btn theme-2">Send Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--/ End contact Form -->
                </div>
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="contact-box-main m-top-30">
                        <div class="contact-title">
                            <h2>Contact with us</h2>
                            <p>euismod eu augue. Etiam vel dui arcu. Cras varius mieros pharetra, id aliquam metus venenatis. Donec sollicit</p>
                        </div>
                        <!-- Single Contact -->
                        <div class="single-contact-box">
                            <div class="c-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="c-text">
                                <h4>Opening Hour</h4>
                                <p>Friday - Saturday<br>08AM - 10PM (everyday)</p>
                            </div>
                        </div>
                        <!--/ End Single Contact -->
                        <!-- Single Contact -->
                        <div class="single-contact-box">
                            <div class="c-icon"><i class="fa fa-phone"></i></div>
                            <div class="c-text">
                                <h4>Call Us Now</h4>
                                <p>Tel.: 888 765 4321<br> Mob.: 765 654 3451</p>
                            </div>
                        </div>
                        <!--/ End Single Contact -->
                        <!-- Single Contact -->
                        <div class="single-contact-box">
                            <div class="c-icon"><i class="fa fa-envelope-o"></i></div>
                            <div class="c-text">
                                <h4>Email Us</h4>
                                <p>contact@bizwheel.com<br>info@bizwheel.com</p>
                            </div>
                        </div>
                        <!--/ End Single Contact -->
                        <div class="button">
                            <a href="#" class="bizwheel-btn theme-1">Our Works<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Contact Us -->
    
    <!-- Jquery JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.js"></script>
    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Modernizr JS -->
    <script src="/js/modernizr.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="/js/scrollup.js"></script>
    <!-- FacnyBox JS -->
    <script src="/js/jquery-fancybox.min.js"></script>
    <!-- Cube Portfolio JS -->
    <script src="/js/cubeportfolio.min.js"></script>
    <!-- Slick Nav JS -->
    <script src="/js/slicknav.min.js"></script>
    <!-- Slick Nav JS -->
    <script src="/js/slicknav.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="/js/owl-carousel.min.js"></script>
    <!-- Easing JS -->
    <script src="js/easing.js"></script>
    <!-- Magnipic Popup JS -->
    <script src="/js/magnific-popup.min.js"></script>
    <!-- Active JS -->
    <script src="/js/active.js"></script>
</body>
</html>


